.PlaceNote {
  color: var(--text);
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
}

.PlaceNote.PlaceNote--secondary {
  color: #aaaaac;
}

.PlaceNote.PlaceNote--bold {
  font-weight: bold;
}
